<span>現在ログイン中のユーザー：<%= current_user.name %></span>
   <%= form_with model: @profile ,url:profile_path  do |f| %>
       <div>

            <%= f.label :img %><br>
            <%= f.file_field :img%>


           <%= f.label :name %><br>
           <%= f.text_field :name%>
       </div>
       
       <div><%= f.submit "更新する" %></div>
    <% end %>
   
    
    <%= link_to 'Back', profile_path %>
