
  
  
   <span>現在ログイン中のユーザー：<%= current_user.name %></span>
   <%= form_with model: @user do |f| %>

    
       <div>
           <%= f.label :email %><br>
           <%= f.text_field :email %>
       </div>
       
       <div><%= f.submit "更新する" %></div>
   <% end %>
   
  <%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
