<h1>宿泊予約アプリ</h1>
<head>
<nav class="nav-menu">
<a>
<% if @user.img? %>
  <%= image_tag @user.img.url %>
<% else %>
  <%= image_tag ("defalt.png") %>
<% end %>
</a>


    <ul class="menu-item drop-menu">
    

    <% if user_signed_in? %>

    <%= link_to @user.name %>
      <ul class="drop-menu-list">
        <li class="drop-menu-item"><%= link_to '新規部屋作成', new_room_path %></li>
        <li class="drop-menu-item"><%= link_to '部屋作成一覧', rooms_path %></li>
        <li class="drop-menu-item"><%= link_to '予約一覧',reservations_path(@reservations) %></li>
        <li class="drop-menu-item"><%= link_to('アカウント', user_path(@user)) %></li>
        <li class="drop-menu-item"><%= link_to('プロフィール', profile_path(@user)) %></li>
      </ul>
    
 </ul>
</nav>
 </head> 


<%= button_to 'ログアウト', destroy_user_session_path , method: :delete %>

 


<p>フリーワード検索</p>
<%= form_tag(search_rooms_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>


  <%end%>
  <p>エリア検索</p>
<%= form_tag(area_rooms_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
    

<% else %>
<%= link_to '新規登録', new_user_registration_path %>
<%= link_to 'ログイン', new_user_session_path %>

<%end%>
