<h1>宿泊予約アプリ</h1>

<% if user_signed_in? %>

<%= button_to 'ログアウト', destroy_user_session_path , method: :delete %>

<%= link_to @user.name %>
<%= link_to '新規部屋作成', new_room_path %>
<%= link_to '部屋作成一覧', rooms_path %>
<%= link_to '予約一覧', reservations_path %>
<%= link_to('アカウント', user_path(@user)) %>
<%= link_to('プロフィール', profile_path(@user)) %>
<% if @user.img? %>
  <h1><%= image_tag @user.img.url %></h1>
<% else %>
  <h1><%= image_tag ("defalt.png") %></h1>
<% end %>



 


<p>フリーワード検索</p>
<%= form_tag(search_rooms_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>


  <%end%>
  <p>エリア検索</p>
<%= form_tag(area_rooms_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
    

<% else %>
<%= link_to '新規登録', new_user_registration_path %>
<%= link_to 'ログイン', new_user_session_path %>

<%end%>
